<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Mreza Mladih Login </title>
    <link rel="stylesheet" type="text/css" href="C:\Users\malik\Desktop\projekte\MM Seite 2\styles.css">
</head>

<body>
    <header class="header">
        <a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/index.html" class="logo">Mreza Mladih</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
        <ul class="menu">
            <li><a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Forum.html">Forum</a></li>
            <li><a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Log%20in.html">Login</a></li>
            <li><a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Impressum.html">Impressum</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Shop.html">Shop</a></li>
        </ul>
    </header>

    <form class="box" action="index.html" method="post">
        <div class="mmlogo">
            <img class="mmlogo" src="C:\Users\malik\Desktop\projekte\MM Seite 2\images\MrezaMladih_klein_neu.PNG"
                alt="Mreza Mladih Logo">
        </div>
        <h1>Login</h1>
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input type="submit" name="" value="Login">

    </form>



</body>

</html>