<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title> Mreza Mladih Helsingborn </title>
	<link rel="stylesheet" type="text/css" href="../../../static/css/styles.css" th:href="@{/static/css/styles.css}">
</head>

<body>

	<header class="header">
		<a href="/" th:href="@{/}" class="logo">Mreza Mladih
			Helsingborn</a>
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
		<ul class="menu">
			<li><a href="forum" th:href="@{/forum}">Forum</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="Impressum.html" th:href="@{/impressum}">Impressum</a></li>
			<li><a href="https://www.instagram.com/mrezamladihdijaspore/">Instagram</a></li>
			<li><a href="file:///C:/Users/malik/Desktop/projekte/MM%20Seite%202/Shop.html">Shop</a></li>
		</ul>
	</header>


</body>

</html>