<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="utf-8">
		<title>Mreza Mladih Baden Württemberg</title>
		<link rel="stylesheet" type="text/css" href="../../../static/css/baden.css">
			<link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap" rel="stylesheet">
	</head>

	<body>

		<nav class="header-nav">

			<div class="container desktop-nav">
				<div class="row">
					<div class="col-6">

						<a href="#" th:href="@{/}">
							<img src="../../../img/MrezaMladih_klein_neu.PNG" alt="Logo von Mreza Mladih">
						</a>
						<div class="HeadlineLogo">
							<img class="HeadlineLogo" src="../../../static/img/Badenwappen.png" alt="Baden Württemberg Logo">
						</div>

						<ul>   <!-- Navigationsleiste Optionen -->
							<li><a href="#" th:href="@{/}">Home</a></li>
							<li><a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/forum.html">Forum</a></li>
							<li><a href="myprofile.html">My Profile</a></li>
							<li><a href="facebook.com/...">Facebook</a></li>
							<li><a href="https://www.instagram.com/mrezamladihdijaspore/">Instagram</a></li>
							<li><a href="/impressum">Impressum</a></li>
						</ul>

					</div>
				</div>
			</div>


		</nav>

	</body>

</html>
