<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="utf-8">
		<title>Mreza Mladih NRW</title>
		<link rel="stylesheet" type="text/css" href="../../../static/css/nrw.css">
	</head>

	<body>

		<nav class="header-nav">

			<div class="container desktop-nav">
				<div class="row">
					<div class="col-6">

						<a href="#" th:href="@{/}">
							<img src="../../../img/MrezaMladih_klein_neu.PNG" alt="Logo von Mreza Mladih">
						</a>
						<div class="HeadlineLogo">
							<img class="HeadlineLogo" src="../../../static/img/NRW.png" alt="NRW Logo">
						</div>

						<ul>   <!-- Navigationsleiste Optionen -->
							<li><a href="#" th:href="@{/}">Home</a></li>
							<li><a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/forum.html">Forum</a></li>
							<li><a href="myprofile.html">My Profile</a></li>
							<li><a href="facebook.com/...">Facebook</a></li>
							<li><a href="https://www.instagram.com/mreza.mladih.nrw?igshid=tdyw3x21zoc2">Instagram</a></li>
							<li><a href="/impressum">Impressum</a></li>
						</ul>

					</div>
				</div>
			</div>


		</nav>

		<aside id="Seitenleiste">

 		 <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Aachen/Aachen.html">
       <button class="seitenoptionen"> Aachen
        <div class="AachenIcon">
        	<img class="AachenIcon" src="Aachen.png" alt="Aachen Icon">
        </div>
			 </button>
 		</a>

     <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Bochum/Bochum.html">
 			<button class="seitenoptionen"> Bochum
       <div class="BochumIcon">
       	<img class="BochumIcon" src="Bochum.png" alt="Bochum Icon">
       </div>
			</button>
		</a>

     <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Bonn/Bonn.html">
 			<button class="seitenoptionen"> Bonn
       <div class="BonnIcon">
       	<img class="BonnIcon" src="Bonn.png" alt="Bonn Icon">
       </div>
			</button>
		</a>

    <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Dortmund/Dortmund.html">
			<button class="seitenoptionen"> Dortmund
       <div class="DortmundIcon">
       	<img class="DortmundIcon" src="Dortmund.png" alt="Dortmund Icon">
       </div>
			</button>
			 </a>

    <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/D%C3%BCsseldorf/d%C3%BCsseldorf.html">
			<button class="seitenoptionen"> Düsseldorf
       <div class="DüsseldorfIcon">
       	<img class="DüsseldorfIcon" src="Düsseldorf.png" alt="Düsseldorf Icon">
       </div>
			</button>
			</a>

    <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Hagen/hagen.html">
			<button class="seitenoptionen"> Hagen
       <div class="HagenIcon">
       	<img class="HagenIcon" src="Hagen.png" alt="Hagen Icon">
       </div>
			</button>
			</a>

	   <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Hamm/hamm.html">
			<button class="seitenoptionen"> Hamm
      <div class="HammIcon">
      	<img class="HammIcon" src="Hamm.png" alt="Hamm Icon">
      </div>
			</button>
			</a>

     <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Kamp%20Lintfurt/kamplintfurt.html">
			<button class="seitenoptionen"> Kamp Lintfurt
      <div class="KamplintfurtIcon">
      	<img class="KamplintfurtIcon" src="Kamplintfurt.png" alt="Kamp Lintfurt Icon">
      </div>
			</button>
      </a>

     <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/K%C3%B6ln/k%C3%B6ln.html">
			<button class="seitenoptionen"> Köln
				<div class="KölnIcon">
					<img class="KölnIcon" src="Kölnwappen.png" alt="Köln Icon">
				</div>
			</button>
			</a>

   <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/M%C3%BClheim/m%C3%BClheim.html">
			<button class="seitenoptionen"> Mülheim a.d. R.
       <div class="MülheimIcon">
       	<img class="MülheimIcon" src="mülheim.png" alt="Mülheim a.d.R. Icon">
       </div>
			</button>
   </a>

     <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Oberhausen/oberhausen.html">
			<button class="seitenoptionen"> Oberhausen
       <div class="OberhausenIcon">
        <img class="OberhausenIcon" src="Oberhausen.png" alt="Oberhausen Icon">
       </div>
			</button>
			</a>

    <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Velbert/velbert.html">
			<button class="seitenoptionen"> Velbert
       <div class="VelbertIcon">
       	<img class="VelbertIcon" src="velbert.jpg" alt="Velbert Icon">
       </div>
			</button>
			</a>

    <a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Witten/witten.html">
			<button class="seitenoptionen"> Witten
       <div class="WittenIcon">
       	<img class="WittenIcon" src="Witten.png" alt="Witten Icon">
       </div>
			</button>
			</a>

 	 </aside>

		<div class="Seitendiv">
		 <div class="Seitenheadline">
			 <h1 id="überschrift">Mreza Mladih NRW</h1>
			</div>
		 <p> Bitte wählen Sie eine Stadt aus, für welche Sie sich interessieren. </p>

		 <div class="Karte">
			 <img class="Karte" src="NRW-shape-mit-input.png" alt="NRW Landkarte">
		 </div>

    <div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Hamm/hamm.html">
			<img class="Hamm" src="Hamm.png" alt="Hamm Wappen">
			</a>
		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Dortmund/Dortmund.html">
			<img class="Dortmund" src="Dortmund.png" alt="Dortmund Wappen">
			</a>
		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Witten/witten.html">
			<img class="Witten" src="Witten.png" alt="Witten Wappen">
			</a>
		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Hagen/hagen.html">
			<img class="Hagen" src="Hagen.png" alt="Hagen Wappen">
			</a>
		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Bochum/Bochum.html">
			<img class="Bochum" src="Bochum.png" alt="Bochum Wappen">
			</a>
		</div>

		<div class="punkteleminieren">

		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Oberhausen/oberhausen.html">
			<img class="Oberhausen" src="Oberhausen.png" alt="Oberhausen Wappen">
			</a>
		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/D%C3%BCsseldorf/d%C3%BCsseldorf.html">
			<img class="Düsseldorf" src="Düsseldorf.png" alt="Düsseldorf Wappen">
			</a>
		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/K%C3%B6ln/k%C3%B6ln.html">
			<img class="Köln" src="Kölnwappen.png" alt="Köln Wappen">
			</a>
		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Aachen/Aachen.html">
			<img class="Aachen" src="Aachen.png" alt="Aachen Wappen">
			</a>
		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Kamp%20Lintfurt/kamplintfurt.html">
			<img class="KampLintfurt" src="Kamplintfurt.png" alt="Kamp Lintfurt Wappen">
			</a>
		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Bonn/Bonn.html">
			<img class="Bonn" src="Bonn.png" alt="Bonn Wappen">
			</a>
		</div>

		<div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/Velbert/velbert.html">
			<img class="Velbert" src="velbert.jpg" alt="Velbert Wappen">
			</a>
		</div>

    <div>
			<a href="file:///C:/Users/malik/Desktop/projekte/mreza-mladih/Countrypages/Germany/NRW/M%C3%BClheim/m%C3%BClheim.html">
			<img class="mülheim" src="mülheim.png" alt="Mülheim an der Ruhr Wappen">
			</a>
		</div>

	 </div>
	</body>

</html>
